$lanse:#133169;
$baise:#fff;
body{font-family: "Microsoft yahei", Helvetica, Arial, sans-serif;}
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-sm-5{
    width: 20%;
  }
//lg-xs
@media (max-width: 768px) { 
	 .top{ 
		.navbar{ 
			.container-fluid{padding-top:20px;}
			.navbar-header{ height:50px;padding-left:20px;}
			.navbar-collapse{left:0;}
		}	
	}
}
//lg-sm
@media (min-width: 768px) and (max-width: 992px) { 

  .top{
		.navbar{ 
			.navbar-header{ padding-right:20px;
				.navbar-brand{
						line-height:29px;height:29px; height:auto; margin-top:15px;
					}
			}
			.navbar-collapse{padding-top:10px;
				.nav{
					li{
						a{padding-left:10px; padding-right:10px;}
					}
					}
			}
		}	
	}
}
//md-md
@media (min-width: 992px) and (max-width: 1200px) {
 .top{ 
		.navbar{ 
			.navbar-header{ padding-right:20px;}
		}	
	}
}
//md-lg
@media (min-width: 1200px) {
 

}
.nav > li > a:hover,
.nav > li > a:focus {
	color:$baise;
  background-color: $lanse;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color:$lanse;
  color:$baise;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 20px 20px 20px;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: rgba(0,0,0,.6);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 0;
  clear: both;
  font-weight: normal;
  line-height: 30px;
  color: #949aa0;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: $lanse;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  //background-color: #428bca;
  outline: 0;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 1px 0;
  overflow: hidden;
  background-color: #bcbebf;
}
.top{padding:0;
	nav{border:0;padding:0;margin:0;
		.navbar-header{padding-right:50px;
			.navbar-brand{line-height: 70px;height:70px;padding:0;margin:0;margin-top:10px;}
		}
		.navbar-collapse{padding-top:30px;
			.nav{
				li{
					a{
						&:hover{background-color:$lanse; color:$baise;}
					}
					&.active{
						a{background-color:$lanse; color:$baise;}
					}
					&.open{
						.dropdown-toggle{background-color:$lanse; color:$baise;}
					}
				}
			}
		}
	}
}
