@charset "UTF-8";
body {
  font-family: "Microsoft yahei", Helvetica, Arial, sans-serif;
  font-size: 13px; }

.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-sm-5 {
  width: 20%; }

/* 导航 */
.top {
  padding: 0; }
  .top .navbar {
    border: 0;
    padding: 0;
    margin: 0; }
    .top .navbar .navbar-header {
      padding-right: 50px; }
      .top .navbar .navbar-header .navbar-brand {
        line-height: 70px;
        height: 70px;
        padding: 0;
        margin: 0;
        margin-top: 10px; }
    .top .navbar .navbar-collapse {
      padding-top: 30px; }
      .top .navbar .navbar-collapse .nav li.active a {
        background-color: #133169;
        color: #fff; }
      .top .navbar .navbar-collapse .nav li.open .dropdown-toggle {
        background-color: #133169;
        color: #fff; }
      .top .navbar .navbar-collapse .nav li.open a:hover, .top .navbar .navbar-collapse .nav li.open a:focus {
        background-color: #133169;
        color: #fff; }
      .top .navbar .navbar-collapse .nav li a:hover, .top .navbar .navbar-collapse .nav li a a:focus {
        background-color: #133169;
        color: #fff; }
      .top .navbar .navbar-collapse .nav li .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 5px 20px 20px 20px;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
        .top .navbar .navbar-collapse .nav li .dropdown-menu li a {
          display: block;
          padding: 3px 0;
          clear: both;
          font-weight: normal;
          line-height: 30px;
          color: #949aa0;
          white-space: nowrap; }
          .top .navbar .navbar-collapse .nav li .dropdown-menu li a:hover, .top .navbar .navbar-collapse .nav li .dropdown-menu li a:focus {
            color: #fff;
            text-decoration: none;
            background-color: #133169; }
        .top .navbar .navbar-collapse .nav li .dropdown-menu .active a, .top .navbar .navbar-collapse .nav li .dropdown-menu .active a:hover, .top .navbar .navbar-collapse .nav li .dropdown-menu .active a:focus {
          color: #fff;
          text-decoration: none;
          outline: 0; }
        .top .navbar .navbar-collapse .nav li .dropdown-menu .divider {
          height: 1px;
          margin: 1px 0;
          overflow: hidden;
          background-color: #bcbebf; }
  .top .navbar-default {
    background-color: #fff;
    border-color: #e7e7e7; }

.footer {
  background-color: #032135;
  color: #999; }
  .footer .row {
    text-align: center;
    line-height: 80px; }
    .footer .row .beian {
      color: #fff; }

@media (max-width: 768px) {
  .top .navbar .container-fluid {
    padding-top: 20px; }
  .top .navbar .navbar-header {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px; }
  .top .navbar .navbar-collapse {
    left: 0; } }
@media (min-width: 768px) and (max-width: 992px) {
  .top .navbar .navbar-header {
    padding-right: 20px; }
    .top .navbar .navbar-header .navbar-brand {
      line-height: 29px;
      height: 29px;
      height: auto;
      margin-top: 15px; }
  .top .navbar .navbar-collapse {
    padding-top: 10px; }
    .top .navbar .navbar-collapse .nav li a {
      padding-left: 10px;
      padding-right: 10px; } }
@media (min-width: 992px) and (max-width: 1200px) {
  .top .navbar .navbar-header {
    padding-right: 20px; } }

/*# sourceMappingURL=comm.css.map */
